.ooh-chart > div {
    width: 440px;
    height: auto;
    border: 1px solid #ccc;
    font-size: 120% !important;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 15px;
}

.foot{
    background-color: blue;
}
body{
    background-color: blue;
}
